@tailwind base;
@tailwind components;
@tailwind utilities;

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Overpass:wght@400;700&family=Roboto:wght@100;300;400;700&family=Ubuntu:wght@400;500;700&display=swap");
/* Press Start 2P */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* Patrick Hand */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&display=swap");

:root {
  --main-font: "Roboto", sans-serif;
  --font-logo: "Press Start 2P", cursive;
  --font-title: "Patrick Hand", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  background-color: #1d232a;
}

@layer utilities {
  .grandient_logo {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
  }
}

.position_absolute {
  position: absolute;
  top: 87%;
  left: 83%;
}

.logo_font {
  font-family: "Press Start 2P", cursive;
}

.title_font {
  font-family: "Patrick Hand", cursive;
}

.lines_font {
  font-family: "Courier New", Courier, monospace;
}

.button_font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* tutorial animation */

/* Tutorial.css */

.modal-animation {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* inside the containers */

/* it works */

/* .button_preview button {
  background-color: #1d232a;
  border: 1px solid #1d232a;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
 */
